<html>
	<head>
		<title>Express App Demo</title>
		<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
        </script>
        <script src="js/main.js"></script>
        <!--        since the main.js is in the public folder, that's all that has to be specified -->
	</head>
	<body>