.wordy{
    border: 1px solid black;
}

.wordy section{
    width: 60%;
    float: left;
}


.wordy aside{
    width: 40%;
    float: right;
}

.wordy::after{
    content: "";
    display: block;
    clear: both;
}