body {
    background: url(jan-erik-waider-144384.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Bellefair', serif;
    font-family: 'Montserrat', sans-serif;

}
#content{
    text-align: center;
/*    padding-top: 25%;*/
}
#content2{
    padding-bottom: 25%;
    background: pink;
}

nav{
    padding: 10px;
}

.jumbotron{
    padding: 140px;
}
.specialfont{
    color: firebrick;
}