body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  #second-h1 {
    font-size: 100px;
  }
  
  .game-button {
    margin: 10px;
    padding: 5px;
  }
  
  .game-button:hover {
    background: red;
    border: red;
  }