<% include partials/header %>

    <div class="jumbotron text-center">
        <h1 class="display-3">Where have all the young men gone?</h1>
        <h2 class="lead">Long time passing.</h2>
        <a href="/entry/add" class="btn btn-dark btn-lg">Add Entry</a>
    </div>

<% include partials/footer %>