<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the homepage!</h1>
    <li><a href="/secret">Members Only</a></li>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
</body>
</html>