<h1>Sign Up Form</h1>


<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" required="true">
    <input type="password" name="password" placeholder="Password" required="true">
    <input type="submit" value="Register"> 
<!--    or a button with the text 'Submit'-->
</form>
   
    <li><a href="/secret">Members Only</a></li>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>