<h1>Pretend there's a secret here.</h1>


    <li><a href="/secret">Members Only</a></li>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>