i.icon{
    font-size: 2em;
}

/*
.container.main{
    margin-top: 7.0em;
}
*/

#page-content{
    margin-top: 7.0em;
}

#mushroom{
    margin: 20px auto;
    width: 50%;
}

#delete{
    display: inline;
}