<h1>Welcome to Your Movie Database</h1>


<h2>Your List</h2>
<p>Your notable movies will go here.</p>


<h2>Search</h2>
<form action="/results" method="GET">
    <input type="text" placeholder="Search Movie Database" name="search_term">
    <input type="submit">
</form>