<% include ./partials/header %>

<div id="mushroom" class="centered">
    <h1>Now I am become Death, the destroyer of worlds.</h1>
<!--    <img src="http://nuclearweaponarchive.org/Usa/Tests/100TonExp1.jpg" alt="">-->
    <img src="http://nuclearweaponarchive.org/Usa/Tests/100TonExp2.jpg" alt="">
    
<!--    <img src="http://nuclearweaponarchive.org/Usa/Tests/100TonExp3.jpg" alt="">-->
</div>
<div>
    <a href="/blogs"><button>Return whence you came.</button></a>
</div>
<% include ./partials/footer %>