<% include partials/header%>
<h1>Welcome to the homepage.</h1>
<h2>The strong do what they can, and the weak suffer what they must...saith Thrasymachus.</h2>
<h2>Socrates responds with a rhetorical question on the rebellion of the slaves.</h2>
<h2>The stuffy noble is horrified by the very thought, and realizes he has said a plain idiocy.</h2>


<img src="death_of_socrates.jpg" alt="">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/The_Death_of_Socrates_cropped.jpg/640px-The_Death_of_Socrates_cropped.jpg" alt="">
<% include partials/footer%>

