<div class="card card-body">
    <h3>Edit Entry</h3>
    <form action="/entries/{{entry.id}}?_method=PUT" method="POST">
        {{!-- <input type="hidden" name="_method" value="PUT"> --}}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" value="{{entry.title}}" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" name="article" placeholder="Entry..." required>{{entry.article}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>