body{
    font-size: 100%;
    background: pink;

}

#h1-container {
    background: #660005;
    padding-bottom: 5px;
    padding-left: -2px;
    padding-right: -2px;
}

h1{
    font-size: 8em;
}

h2 {
    font-family: Lobster, Monospace;
    color: black;
    background: rgb(48, 0, 170);
    font-size: 1.875em;
    border-color: darkgreen;
    border-width: 10px;
    border-style: solid;
}
h3 {
    border: 5px purple solid;
}

.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}
.thick-red-border {
  border-color: red;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}
.thick-blue-border {
  border-color: blue;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.container-fluid {
    padding: 5px;
}

.shake, .bounce {
    color: red;
}

.table-div{
    text-align: center;
}

#offa-profile-container{
    text-align: center;
}

#cat-img-container{
    text-align: center;
}

/*font size can be pixels or relative, with em*/
/*font weight: bold, for example, or maybe 100-800 in 100-increments*/
/*line height: spacing between lines*/
/*text align: center, e.g.*/
/*text-decoration - underline, strikethrough, line above*/