<% include partials/header %>

<h1>Campgrounds Unlimited</h1>


<p>Welcome to the landing page for the Yelp Camp Page</p>


<form action="/campgrounds">
    <button>See Campgrounds</button>
</form>


<% include partials/footer %>
